<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="feel-project-web" version="3.0">

	<display-name>feel web service</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<filter>
		<filter-name>Spring character encoding filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Spring character encoding filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>spring3mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<!-- 指定springmvc配置文件所在位置
  			如果不配置init-param 默认到/WEB-INF/找配置文件
  			/WEB-INF/servlet的名称-servlet.xml
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		-->
	</servlet>
 
 	<servlet-mapping>
 		<servlet-name>spring3mvc</servlet-name>
 		<url-pattern>/</url-pattern>
 	</servlet-mapping>
 	
 	<!-- Druid,监控数据库,以及WEB访问连接信息 -->
	<!-- 参考: https://github.com/alibaba/druid/wiki/%E9%85%8D%E7%BD%AE_%E9%85%8D%E7%BD%AEWebStatFilter -->
	<!--<filter>
	    <filter-name>DruidWebStatFilter</filter-name>  
	    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>  
	    <init-param>  
	        <param-name>exclusions</param-name>  
	        <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,*.jsp,/druid/*,/download/*</param-value>  
	    </init-param>  
	    <init-param>  
	        <param-name>sessionStatMaxCount</param-name>  
	        <param-value>2000</param-value>  
	    </init-param>  
	    <init-param>  
	        <param-name>sessionStatEnable</param-name>  
	        <param-value>true</param-value>  
	    </init-param>  
	    <init-param>  
	        <param-name>principalSessionName</param-name>  
	        <param-value>lyan_cid</param-value>  
	    </init-param>  
	    <init-param>
	  		<param-name>principalCookieName</param-name>
	  		<param-value>lyan_cid</param-value>
	  	</init-param>
	    <init-param>  
	        <param-name>profileEnable</param-name>  
	        <param-value>true</param-value>  
	    </init-param>  
	</filter>  
	<filter-mapping>  
	    <filter-name>DruidWebStatFilter</filter-name>  
	    <url-pattern>/*</url-pattern>  
	</filter-mapping>-->
	<!-- 配置 Druid 监控信息显示页面 -->
	<!-- 参考：https://github.com/alibaba/druid/wiki/%E9%85%8D%E7%BD%AE_StatViewServlet%E9%85%8D%E7%BD%AE -->
	<!--<servlet>
	    <servlet-name>DruidStatView</servlet-name>  
	    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>  
	    <init-param>  
	        &lt;!&ndash; 允许清空统计数据 &ndash;&gt;
	        <param-name>resetEnable</param-name>  
	        <param-value>true</param-value>  
	    </init-param>  
	    <init-param>  
	        &lt;!&ndash; 用户名 &ndash;&gt;
	        <param-name>loginUsername</param-name>  
	        <param-value>root</param-value>  
	    </init-param>  
	    <init-param>  
	        &lt;!&ndash; 密码 &ndash;&gt;
	        <param-name>loginPassword</param-name>  
	        <param-value>Lyan2017</param-value>  
	    </init-param>  
	</servlet>  
	<servlet-mapping>  
	    <servlet-name>DruidStatView</servlet-name>  
	    <url-pattern>/druid/*</url-pattern>  
	</servlet-mapping>-->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>   
		<error-code>500</error-code>   
		<location>/error.html</location>   
	</error-page>   
</web-app>